<div>
  <div>
    <img
      src="{{ thumbnailUri }}"
      alt="{{ songTitle }} album cover" >
  </div>
  <table>
    <tr>
      <td>
        <span class="bright">
        {{ artist }}
        </span>
        <span>
        - {{ songTitle }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="dimmed">
        {{ albumTitle }}
      </td>
    </tr>
  </table>
</div>
