<!-- This CSS code limits the size of the album art thumbnail -->
<style>
  img {
    max-width: 250px;
    height: auto;
  }
</style>

<div>
  <div>
    <img
      src="{{ thumbnailUri }}"
      alt="{{ songTitle }} album cover" >
  </div>
  <table>
    <tr>
      <td>
        <span class="bright">
        {{ artist }}
        </span>
        <span>
        - {{ songTitle }}
        </span>
      </td>
    </tr>
    <tr>
      <td class="dimmed">
        {{ albumTitle }}
      </td>
    </tr>
  </table>
</div>
